.header
  .header__logo
    = link_to "BookLife", books_path
  .header__btn
    = link_to 'マイページへ', "/users/#{current_user.id}", method: :get
.contents
  .container
    = form_with(model: @book, local: true) do |f|
      %h3 投稿編集
      = f.text_field :title, placeholder: "タイトル(必須)"
      = f.text_field :author, placeholder: "著者"
      = f.text_field :publisher, placeholder: "出版社"
      .image
        = f.text_field :image, placeholder: "画像を選択＊"
        %label
          = icon('fa','image',class: 'icon')
          .image__file
            = f.file_field :image
      = f.text_area :review, placeholder: "レビューを書く(必須)" , rows: "10"
      .postBtn 
        = f.submit "更新する"
