.header
  .header__logo
    = link_to "BookLife", books_path
  .header__btn
    = link_to 'マイページへ', "/users/#{current_user.id}", method: :get
.contents
  .container
    = form_with(model: @book, local: true) do |form|
      %h3
        投稿編集
      = form.text_field :name, autofocus: true, placeholder: "あなたのニックネーム(必須)"
      = form.text_field :title, placeholder: "タイトル(必須)"
      = form.text_field :author, placeholder: "著者"
      = form.text_field :publisher, placeholder: "出版社"
      = form.text_field :image, placeholder: "画像のURL(必須)"
      = form.text_area :review, placeholder: "レビューを書く(必須)" , rows: "10"
      .postBtn 
        = form.submit "更新する"
