.header
  .header__logo
    = icon('fas', 'book')
    = link_to "BookLife", books_path
  - if user_signed_in? && current_user.id == @book.user.id
    .header__btn
      = link_to "マイページへ", "/users/#{current_user.id}"
.contents-show
  .postName
    = link_to "#{@book.user.nickname}さんの投稿", "/users/#{@book.user.id}"
  %section.review
    %img{:src => "#{@book.image}", :width => "350", :height => "400"}
    .desc
      %h1.category#category-title
        = @book.title
      %p.category
        = "著：#{@book.author}"
      %p.category
        = "出版社：#{@book.publisher}"
      .category#category-review
        = simple_format(@book.review)
  .container
    - if current_user
      = render partial: 'comments/form', locals: { comment: @comment, book: @book }
    - else
      %strong
        %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    #comments_area
      .comments
        %h4.comment ＜コメント一覧＞
        - if @comments
          = render partial: 'comments/index', locals: { comments: @comments }
